*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: lightblue;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
button{
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #a5ffe1;
}
button a {
    text-decoration: none;
    color: black;
}

.details {
    text-align: center;
}

.details h3{
    margin: 8px;
}
.details p {
    margin: 8px 25px;
}
.details img{
    height: 300px;
}