body{
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
}
nav h2 {
    margin-left: 10px;
}
nav button {
    height: 35px;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}

#products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 2px 7px;
    align-items: center;
    gap: 10px;
    align-items: stretch;
}
.product{
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 10px;
    margin: 15px 0;
    border-radius: 6px;
    box-shadow: 3px 3px 3px gray;
}
.imagecon {
    height: 200px;
}
.product h3, h4, p {
    margin: 7px;
}
.product img{
    width: 100%;
    height: 99%;
    object-fit: contain;
}
.price{
    font-weight: bold;
}
.action-buttons{
    margin-top: auto;
}
.product button{
    padding: 10px 13px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.product .view{
    border: 1px solid blue;
}
.product .view:hover{
    border: 1.5px solid blue;
}
.product .edit{
    border: 1px solid green;
}
.product .edit:hover{
    border: 1.5px solid green;
}
.product .delete{
    border: 1px solid red;
}
.product .delete:hover{
    border: 1.5px solid red;
}


/* Modal */
.hidden {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
}
.modal-content {
    background: white;
    font-size: 17px;
    height: 90%;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
}
#form {
    margin-top: 70px;
}
.form-group input{
    width: 75%;
    height: 25px;
    margin-bottom: 10px;
}
.form-group textarea{
    width: 75%;
    height: 40px;
    margin-bottom: 10px;
}
form button{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid;
}
#closeModal {
    cursor: pointer;
    font-size: 40px;
    float: right;
}